<div class="container">
  <h2 class="text-center mr-10 mb-5 mt-5 w-25 offset-2 ", style="background-color:#d3d3d3;">マイページ</h2>
  <div>
    <div class="row col-10">
      <h4>登録情報</h4>
      <p><%= link_to "編集する",edit_customer_path, class:"btn btn-success ml-4 " %></p>
    </div>
    <table class="table table-hover table-bordered col-8">
      <tbody>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">カナ</td>
          <td><%= @customer.kana_full_name %></td>
        </tr>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="col-3", style="background-color:#d3d3d3;">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="row col-10">
      <h4>登録情報</h4>
      <p><%= link_to "一覧を見る",edit_customer_path, class:"btn btn-primary ml-4 " %></p>
    </div>
    <div class="row col-10">
      <h4>注文履歴</h4>
      <p><%= link_to "一覧を見る",orders_path, class:"btn btn-primary ml-4 "%></p>
    </div>
 
  </div>
</div>