<div class="container">
  <h2 class="text-center mr-10 mb-5 mt-5 w-25 offset-2 ", style="background-color:#d3d3d3;">マイページ</h2>
  <div class="row">
    <h4>登録情報</h4>
    <p><%= link_to "編集する",edit_customer_path, class:"btn btn-success ml-4 " %></p>
    <table class="table">
      <tbody>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>