<div class="container">
  <h2 class="text-center mr-10 mb-5 mt-5 w-25 offset-2 ", style="background-color:#d3d3d3;">マイページ</h2>
  <div class="row">
    <h4>登録情報</h4>
    <p><%= link_to "編集する",edit_customer_path, class:"btn btn-success ml-4 " %></p>
    <table class="table">
      <tbody>
        <tr>
          <i class="fas fa-book"></i>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.kana_full_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="mr-5">
      <p>配送先</p>
      <p>注文履歴</p>
    </div>
    <div class="ml-5">
      <p><%= link_to "一覧を見る",addresses_path, class:"btn btn-primary"%></p>
      <p><%= link_to "一覧を見る", orders_path,class:"btn btn-primary"%></p>
    </div>
  </div>
</div>