<div class="container">
  <div class="row">
    <div class="top-image">
      <div class="text-center mt-5 welcome-text">
        <h2 class="mb-4"><strong>Welcome to NaganoCAKE</strong></h2>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員ではない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
    </div>
    </div>
    <div class="row"><div class="mx-auto mt-2 w-50"><%= render "public/homes/search" %></div></div>
    
    <div class="row">
    <div class="col-2 ml-4">
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class="col-9 mx-auto">
      <h3 class="ml-3 mt-5">NEW ITEMS</h3>
      <div class="container">
        <div class="row">
          <% @items.reverse_each do |item| %>
            <div class="col-3">
              <div class="card w-150 mb-2">
               <%= image_tag item.image, size: "150x100", class: "w-100" %>
                <div class="card-body">
                  <div class="card-title "><%= link_to item.name, item_path(item), class: "text-dark" %></div>
                  <div class="card-text">¥<%= item.add_tax_price.to_s(:delimited) %>(税込)</div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to "全ての商品を見る >", items_path, class: "d-flex justify-content-end text-dark" %>
    </div>
    </div>
  </div>
</div>
