<div class="container">
  <div class="row">
  <div class= "col-10 mx-auto">
    <h3 class="my-5 ml-5 title">注文情報確認</h3>
  <table class='table table-bordered mt-5'>
    <thead style="background-color:#deb887;">
      <tr>
        <th></th>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>

    <% @cart_items.each do |cart_item| %>
    <tbody>
      <tr>
        <td><%= image_tag cart_item.item.image, size: "50x50" %></%></td>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.add_tax_price.to_s(:delimited, delimiter: ',') %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  </div>

    <div class="col-3 offset-md-1">
      <table class='table table-bordered mt-5'>
        <tr><th style="background-color:#deb887;">送料</th><td><%= @order.postage %></td></tr>

        <% @cart_items.each do |cart_item| %>
        <% @total += cart_item.subtotal %>
        <% end %>
        <tr><th style="background-color:#deb887;">商品合計</th><td><%= @total.to_s(:delimited, delimiter: ',') %></td></tr>

        <tr><th style="background-color:#deb887;">請求金額</th>
        <% @order_total = @order.postage + @total %>
        <td><%= @order_total.to_s(:delimited, delimiter: ',') %></td></tr>
      </table>
    </div>

    <div class= "col-8 mt-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="background-color:#deb887;"><strong>支払方法</strong></th>
          <td>
            <%= @order.payment_method_i18n %>
          </td>
        </tr>
        <tr>
          <th style="background-color:#deb887;"><strong>お届け先</strong></th>
          <td>
            <%= "#{'〒'}#{@order.postcode} #{@order.address} #{@order.name}" %>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="mx-auto">
      <%= form_with model: @order, url: orders_path do |f|%>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :postcode %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :billing_amount, value: @order_total %>
        <%= f.submit '注文を確定する', class:'btn btn-success'%>
      <% end %>
    </h3>
  </div>
</div>